:root {
  --brand-color: #fb7299;
  --brand-background-light: #f1e7ea;
  --brand-color-light: #f7b0c4;
  --brand-color-translucent: #fb729978;
  --footer-text: #6c3f3f;
  --gray-1: #fafafa;
  --text-main: #3f4346;
  --text-gray: #999;
  --player-icon: #797173;
  --player-icon-hover: #52595e;
  --hover-background: #0000000d;
  --brand-color-hover-background: #fb72991a;
  --inner-color: #fafafa;
  --inner-shadow: inset 0 4px 4px #0000000d;
  --controls-border-radius: 4px;
  --button-shadow: 0 4px 4px #fb72994d;
  --button-shadow-hover: 0 9px 9px #fb72994d;
  --player-shadow: 0 2px 8px #c19fa833;
  --font-mono: "JetBrains Mono", "Ubuntu Mono", "Cascadia Code PL", "Menlo",
    "Consolas", "Monaco", "Noto Mono", "Nimbus Mono L", "Courier New",
    "Noto Sans CJK SC", "Noto Sans SC", "WenQuanYi Micro Hei",
    "Microsoft YaHei UI", "Microsoft YaHei", "Noto Sans CJK TC", "Noto Sans TC",
    "Noto Sans CJK JP", "Noto Sans JP", monospace, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --font-branding: "Montserrat", sans-serif;
}
